<!doctype html>
<html lang="pl">
<head>
  {% include head.html %}
</head>
<body>

  {% include header.html %}

  <main class="site-main" role="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const mobileToggle = document.getElementById('mobileToggle');
    const siteNav = document.getElementById('siteNav');
    const dropdownToggle = document.querySelector('.dropdown-toggle');
    const dropdown = document.querySelector('.dropdown');

    // Obsługa kliknięcia w Hamburger na telefonie
    if (mobileToggle && siteNav) {
      mobileToggle.addEventListener('click', function () {
        mobileToggle.classList.toggle('active');
        siteNav.classList.toggle('active');
      });
    }

    // Obsługa rozwijania menu Apartamenty na telefonie
    if (dropdownToggle && dropdown) {
      dropdownToggle.addEventListener('click', function (e) {
        if (window.innerWidth <= 868) {
          e.preventDefault();
          dropdown.classList.toggle('open');
        }
      });
    }
  });
</script>
  
</body>
</html>
