<!doctype html>
<html lang="pl">
<head>
  {% include head.html %}
</head>
<body>

  {% include header.html %}

  <main class="site-main" role="main">
    {{ content }}
  </main>

  {% include footer.html %}

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const navToggle = document.getElementById('navToggle') || document.getElementById('mobileToggle');
    const siteNav = document.getElementById('siteNav');

    // Obsługa kliknięcia w Hamburger na telefonie
    if (navToggle && siteNav) {
      navToggle.addEventListener('click', function () {
        navToggle.classList.toggle('active');
        siteNav.classList.toggle('active');
      });
    }
  });
  </script>
  
</body>
</html>
