<header class="site-header">
  <div class="header-container">
    
    <!-- Logo po lewej stronie -->
    <a href="{{ site.baseurl }}/" class="brand">
      <img src="{{ site.baseurl }}/assets/img/logo-pod-smokami-white.png" alt="Dom pod Smokami" class="logo">
    </a>

    <!-- Przycisk Hamburger (mobilny) -->
    <button class="mobile-toggle" aria-label="Otwórz menu" id="mobileToggle">
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
      <span class="hamburger-bar"></span>
    </button>

    <!-- Nawigacja z 6 apartamentami w submenu -->
    <nav class="site-nav" id="siteNav">
      <ul>
        <li class="dropdown">
          <a href="{{ site.baseurl }}/#apartamenty" class="dropdown-toggle">
            Apartamenty <span class="arrow">▾</span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ site.baseurl }}/apartamenty/apartament-1.html">Lis</a></li>
            <li><a href="{{ site.baseurl }}/apartamenty/apartament-2.html">Mysz</a></li>
            <li><a href="{{ site.baseurl }}/apartamenty/apartament-3.html">Świstak</a></li>
            <li><a href="{{ site.baseurl }}/apartamenty/apartament-4.html">Muflon</a></li>
            <li><a href="{{ site.baseurl }}/apartamenty/apartament-5.html">Borsuk</a></li>
            <li><a href="{{ site.baseurl }}/apartamenty/apartament-6.html">Sowa</a></li>
          </ul>
        </li>

        <li><a href="{{ site.baseurl }}/kontakt.html">Kontakt</a></li>
      </ul>
    </nav>

  </div>
</header>
